.boton1 {
  background: rgb(127, 127, 161);
  color: white;
  padding:10px;
  margin: 20px;
  font-size: 40px;

}

.boton2 {
  background: rgb(108, 108, 236);
  color: black;
  padding:10px;
  margin: 20px;
  font-size: 40px;

}

.boton3 {
  background: rgb(152, 228, 152);
  color: black;
  padding:10px;
  margin: 20px;
  font-size: 40px;

}