<div >
        <button class="boton1" type="button" (click)='caso1()'>Boton 1</button>
        <button class="boton2" type="button" (click)='caso2()'>Boton 2</button>
        <button class="boton3" type="button" (click)='caso3()'>Boton 3</button>
</div>

<div [ngSwitch]="opcion" >
    <div *ngSwitchCase="0">
        <h1>Puede presionar el boton 1</h1>
        <h1>Puede presionar el boton 2</h1>
        <h1>Puede presionar el boton 3</h1>
    </div>


    <div *ngSwitchCase="1">
        <h1>Presiono el boton 1</h1>
    </div>
    <div *ngSwitchCase="2">
        <h1>Presiono el boton 2</h1>
    </div>
    <div *ngSwitchDefault>
        <h1>Presiono el boton 3</h1>
    </div>

</div>

